
  </body>
  <script src="../libs/jquery.js"></script>
  <script src="../libs/libs.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="../libs/vanilla.js"></script>
  <script src="../js/socket.js"></script>
  <script src="../js/script.js"></script>
  <script src="../libs/popup.js"></script>
</html>
